<h2>
<a {{bind-attr href='model.link'}}>{{model.title}}</a>
</h2>

<h5>Submitted by {{model.username}}</h5>

<p>
  {{model.description}}
</p>

<button {{action 'deletePost' model}}>Delete</button>

{{link-to 'edit' 'posts.edit' model}}

{{link-to 'BACK' 'posts.index'}}

<p>
  {{link-to "Add a comment" 'comments.new'}}
  {{link-to "View comments" 'comments.index'}}
</p>

<h3>Comments:</h3>

{{outlet}}
